*{
margin:0;
padding:0;
scroll-behavior: smooth;
}

body {
    font-weight: 100;
    line-height: 1.4;
    background-color: #FFFFFF;
    color: #1A1A1A; 
}

#about,
#projects{
    padding: 80px 0 0 0;
    width: 100%;
}

/* Navbar */
header{
    font-family: Georgia, serif;
}

.navbar {
  background-color: #1E3A5F;
  position: fixed;
  width: 100%;
  display: inline-block;
  height: 70px;
}

.navbar a {
  float: right;
  display: block;
  color: #FFFFFF;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left:20px;
  

}

.navbar h1 {
  float: left;
  display: block;
  color: #FFFFFF;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background-color: #3B82F6; 
  color: #FFFFFF;
}


/* About section*/


.left-about-div{
  float: left;
  height: 100%;
  width: 35%;
}

.right-about-div{
    display: inline-block;
    height: 100%;
    width: 50%;
    margin: 5%;
}

.bio-title{
    color:#1E3A5F;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 50px;
}
#about h4{
  color:#4A4A4A;
  font-weight: normal;
}

#about img{
  width: 350px;
  object-fit: cover; 
  margin: 22%;
  border: 3px solid #1E3A5F; 
  border-radius: 10px;
    
  
}
#about p {
  
  font-family:Georgia, serif;
  text-align: left;
  font-size: 1.2rem;

}
#about span{
    font-weight: bold;
}

/* Projects section */
#projects {
  padding: 100px 20px;
  width: 100%;
}

.project-section-header {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  max-width: 1300px;
  font-size: 1.6rem;
  margin-bottom: 40px;
  padding: 30px ;
}


.projects-container {
  display: flex;
  justify-content: center;
  gap: 80px;
  max-width: 1500px;
  margin: 0 auto;
}


.projects-container article {
  max-width: 400px;
  background: #FFFFFF;
  border: 1px solid #D1D5DB; 
  border-radius: 12px;
  padding: 30px;
  text-align: center;
 
}


.project-title {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 15px;
  color: #1E3A5F;
  font-family: Georgia, serif;
}

.project-image {
  width: 100%;
  max-width: 300px;
  margin: 0 auto 15px auto;
  border: 1px solid #ddd; 
  border-radius: 10px;
  object-fit: cover;
  display: block;
}

.project-explanation {
  font-size: 1rem;
  margin-bottom: 15px;
  text-align: left;
  font-family:Georgia, serif;
}

.project-tech-title {
  margin-top: 10px;
  font-weight: bold;
  text-align: left;
  font-family: Georgia, serif;
}

.tech-list {
  padding-left:20px;
  text-align:left;
  font-family:Georgia, serif;
}
.projects-container article a {
  display: inline-block;
  margin-top: 20px;
  font-family: Georgia, serif;
  color: #1E3A5F;
  font-weight: bold;
 }
 .projects-container article a:hover {
  color: #3B82F6;
}




/* Contact Form Section */

#contact-form-section {
padding: 70px 20px;
width: 100%;
  
}
.contact-section-header h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 50px;
    width: 15%;
    margin: 0 auto;
    
}


.contact-form{
  width: 28%;
  margin: 0 auto;
}

.contact-form label{
  font-family:Georgia, serif;
  font-size: 20px;

}
.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #cbc7c7cc;
    font-size: 1rem;
    width: 300px;
    font-family:Georgia, serif;
}

.contact-form textarea {
  min-height: 120px;
}

.contact-form button {
  font-family: Georgia, serif;
  margin-top: 20px;
  padding: 12px 20px;
  border: none;
  background-color: #1E3A5F;
  color: #FFFFFF;
  font-size: 1rem;
  border-radius: 6px;
  

}

.contact-form button:hover {
  background-color: #3B82F6;
}


/* Footer */
footer {
  background-color: #1E3A5F;
  color: #FFFFFF;  
  padding: 20px;
  font-family: Georgia, serif;
  text-align: center;
}
.contact-links li {
  display: inline;
  margin: 0 10px;
}


.contact-links i, 
.contact-links a {
  color: #D1D5DB;
  font-size: small;
}
.contact-links li {
  list-style-type: none;
  display: inline;
   
}

footer p {
  font-size:12px;

}


/* Media */
@media (max-width: 1100px) {
  .navbar {
    height: 40px;
    padding: 10px 0;
  }

  .navbar h1 {
    font-size: 18px;
    margin-bottom: 5px;
    float: left;
  }

 .navbar a { 
  float: right; 
  font-size: 16px;
  padding: 8px 12px; 
  margin-left: 0; 
}


  #about {
    padding: 110px 10px;
    display: block;
    text-align: center;
    
  }

  .left-about-div,
  .right-about-div {
    width: 90%;
    float: none;
    margin: 10px 0;
  }

  #about img {
    width: 250px;
    margin: 0 auto 20px auto;
  }

  .bio-title {
    font-size: 1.8rem;
  }

  #about p {
    font-size: 1rem;
    text-align: center;
  }


  #projects {
    padding: 10px 20px;
  }

  .projects-container {
    display: block;
  }

  .projects-container article {
    max-width: 80%;
    margin:20px auto;
  }

  .project-image {
    max-width:90%;
  }

  #contact-form-section {
    padding: 20px 2px;
  }

  .contact-section-header h3 {
    width: 50%;
    font-size: 24px;
    text-align: center;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
  }


  footer {
    text-align: center;
    padding: 20px 10px;
  }

  .contact-links li {
    display: block;
    margin: 5px 0;
  }

}
@media (max-width: 600px) {
  .navbar a {
    font-size: 14px;
  }
  .bio-title {
    font-size: 1.5rem;
  }
  .projects-container {
    display: block;
    width: 80%;
  }
  .projects-container article {
    margin: 20px auto;

  }
  .contact-form {
    width: 80%;
  }
}



